{% extends "templates/_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Functions and Libraries in Python" />
  <meta name="status" content="To be revised" />
{% endblock file_metadata %}

{% block content %}
    <ol class="toc">
      <li><a href="#s:summary">Summing Up</a></li>
    </ol>

    <p>
      On the first day of your post-doc at Euphoric State University,
      your supervisor calls you into her office to ask a favor.
      One of her previous students wrote a program to reformat and calibrate
      data produced by rock drills in the 1970s and 1990s.
      It's a useful piece of code,
      but she is now studying fossilized coral reefs,
      so she would like you to figure out how that program works
      and add some new features to it.
    </p>

    <p>
      The good news is,
      the program is only two hundred lines long.
      The bad news is,
      it's one big block of code,
      and several sections seem to be duplicated.
      Before you can start adding anything new,
      you need to clean it up.
    </p>

    <p>
      This chapter will show you how to do that,
      and along the way introduce the single most powerful idea in programming:
      abstraction.
      No programming language can possibly include everything that anyone might ever want
      (though that hasn't stopped C++ and Perl from trying&hellip;).
      Instead, languages should make it easy for people
      to create new tools to solve their specific problems,
      and the most common way to do this is
      to define <a href="glossary.html#function">functions</a>
      that combine several operations into one.
      In this chapter,
      we'll look at how functions work,
      and how to divide tasks into comprehensible, reusable chunks.
    </p>

    <section id="s:summary">

      <h2>Summing Up</h2>


    </section>
{% endblock content %}
