{% extends "templates/_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Instructors' Guide" />
{% endblock file_metadata %}

{% block content %}
<p>
  <img src="{{root_path}}/logo/writing.png" alt="Still being written" />&nbsp;=&nbsp;Still&nbsp;being&nbsp;written
  &nbsp;&nbsp;&nbsp;&nbsp;
  <img src="{{root_path}}/logo/revising.png" alt="Revising" />&nbsp;=&nbsp;Revising
  &nbsp;&nbsp;&nbsp;&nbsp;
  <img src="{{root_path}}/logo/commenting.png" alt="Ready for comment" />&nbsp;=&nbsp;Ready&nbsp;for&nbsp;comment
</p>
<table class="table table-striped">
  <tr>
    <td><img src="{{root_path}}/logo/commenting.pn" alt="Ready for comment" /></td>
    <td><a href="intro.html">Introduction</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/commenting.png" alt="Ready for comment" /></td>
    <td><a href="shell.html">The Unix Shell</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/commenting.png" alt="Ready for comment" /></td>
    <td><a href="svn.html">Version Control with Subversion</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/commenting.pn" alt="Ready for comment" /></td>
    <td><a href="python.html">Basic Programming With Python (using text)</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/writing.png" alt="Still being written" /></td>
    <td><a href="pymedia.html">Basic Programming With Python (using images)</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/commenting.png" alt="Ready for comment" /></td>
    <td><a href="db.html">Databases and SQL</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/revising.png" alt="Revising" /></td>
    <td><a href="numpy.html">Numerical Programming With NumPy</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/writing.png" alt="Still being written" /></td>
    <td><a href="quality.html">Software Quality</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/commenting.png" alt="Ready for comment" /></td>
    <td><a href="setdict.html">Sets and Dictionaries</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/revising.png" alt="Revising" /></td>
    <td><a href="dev.html">Program Development</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/revising.png" alt="Revising" /></td>
    <td><a href="web.html">Web Programming</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/writing.png" alt="Still being written" /></td>
    <td><a href="teach.html">Teaching and Learning</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/writing.png" alt="Still being written" /></td>
    <td><a href="concl.html">Conclusion</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/writing.png" alt="Still being written" /></td>
    <td><a href="extras.html">Extras</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/revising.png" alt="Revising" /></td>
    <td><a href="bib.html">Bibliography</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/writing.png" alt="Still being written" /></td>
    <td><a href="glossary.html">Glossary</a></td>
  </tr>
  <tr>
    <td><img src="{{root_path}}/logo/writing.png" alt="Still being written" /></td>
    <td><a href="ref.html">Reference Guides</a></td>
  </tr>
</table>
{% endblock content %}
