{% extends "templates/_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Instructors' Guide" />
{% endblock file_metadata %}

{% block content %}
<table class="table table-striped">
  <tr>
    <td><a href="intro.html">Introduction</a></td>
    <td>To be revised</td>
  </tr>
  <tr>
    <td><a href="shell.html">The Unix Shell</a></td>
    <td>Ready for comment</td>
  </tr>
  <tr>
    <td><a href="svn.html">Version Control with Subversion</a></td>
    <td>Ready for comment</td>
  </tr>
  <tr>
    <td><a href="python.html">Basic Programming With Python</a></td>
    <td>To be revised</td>
  </tr>
  <tr>
    <td><a href="funclib.html">Functions and Libraries in Python</a></td>
    <td>To be revised</td>
  </tr>
  <tr>
    <td><a href="pymedia.html">Basic Programming With Python and Images</a></td>
    <td>Still being written</td>
  </tr>
  <tr>
    <td><a href="db.html">Databases and SQL</a></td>
    <td>Ready for comment</td>
  </tr>
  <tr>
    <td><a href="numpy.html">Numerical Programming With NumPy</a></td>
    <td>To be revised</td>
  </tr>
  <tr>
    <td><a href="quality.html">Software Quality</a></td>
    <td>Still being written</td>
  </tr>
  <tr>
    <td><a href="setdict.html">Sets and Dictionaries</a></td>
    <td>Ready for comment</td>
  </tr>
  <tr>
    <td><a href="dev.html">Program Development</a></td>
    <td>To be revised</td>
  </tr>
  <tr>
    <td><a href="web.html">Web Programming</a></td>
    <td>To be revised</td>
  </tr>
  <tr>
    <td><a href="teach.html">Teaching and Learning</a></td>
    <td>Still being written</td>
  </tr>
  <tr>
    <td><a href="concl.html">Conclusion</a></td>
    <td>Still being written</td>
  </tr>
  <tr>
    <td><a href="ack.html">Acknowledgments</a></td>
    <td>To be revised</td>
  </tr>
  <tr>
    <td><a href="extras.html">Extras</a></td>
    <td>Still being written</td>
  </tr>
  <tr>
    <td><a href="bib.html">Bibliography</a></td>
    <td>To be revised</td>
  </tr>
  <tr>
    <td><a href="glossary.html">Glossary</a></td>
    <td>Still being written</td>
  </tr>
  <tr>
    <td><a href="ref.html">Reference Guides</a></td>
    <td>Still being written</td>
  </tr>
</table>
{% endblock content %}
