{% extends "templates/_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Instructors' Guide" />
{% endblock file_metadata %}

{% block content %}
  <ol class="toc">
    <li><a href="intro.html">Introduction</a></li>
    <li><a href="shell.html">The Shell</a></li>
    <li><a href="svn.html">Version Control</a></li>
    <li><a href="python.html">Basic Programming With Python</a></li>
    <li><a href="funclib.html">Functions and Libraries</a></li>
    <li><a href="pymedia.html">Basic Programming With Python and Images</a></li>
    <li><a href="db.html">Databases</a></li>
    <li><a href="numpy.html">Number Crunching</a></li>
    <li><a href="quality.html">Quality</a></li>
    <li><a href="setdict.html">Sets and Dictionaries</a></li>
    <li><a href="dev.html">Development</a></li>
    <li><a href="web.html">Web Programming</a></li>
    <li><a href="teach.html">Instructor's Guide</a></li>
    <li><a href="concl.html">Conclusion</a></li>
    <li><a href="ack.html">Acknowledgments</a></li>
    <li><a href="extras.html">Extras</a></li>
    <li><a href="bib.html">Bibliography</a></li>
    <li><a href="glossary.html">Glossary</a></li>
    <li><a href="ref.html">Reference Guides</a></li>
  </ol>
{% endblock content %}
