{% extends "templates/_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Introduction" />
  <meta name="status" content="To be revised" />
{% endblock file_metadata %}

{% block content %}
    <p>Here's the dream:</p>

    <blockquote>
      Computers have revolutionized research, and that revolution is only beginning.
      Every day,
      scientists and engineers all over the world use them
      to study things that are too big, too small, too fast, too slow, too expensive, too dangerous,
      or just too hard to study any other way.
    </blockquote>

    <p>
      Now here's the reality:
    </p>

    <blockquote>
      Every day,
      scientists and engineers all over the world waste time wrestling with computers.
      Tasks that should take a few moments take hours or days,
      and many things never work at all.
      And even when things <em>do</em> work,
      most scientists have no idea how reliable their results are.
    </blockquote>

    <p>
      Most of the pain that researchers feel stems from not knowing
      how to develop software systematically,
      how to tell if their programs are working correctly,
      how to share their work with others
      (except by mailing files to one another),
      or how to keep track of what they've done.
      This sorry state of affairs persists for four reasons:
    </p>

    <dl>
      <dt>
        No room, no time.
      </dt>
      <dd>
        Everybody's curriculum is full&mdash;there's simply not space to add more about computing
        without dropping something else.
        Or as a scientist once asked me,
        "What should we cut from our physics degree to make room for this stuff:
        thermodynamics or quantum mechanics?"
        (And taking five minutes out of each lecture to talk about computing doesn't work:
        that still adds up to four courses over a four-year degree,
        and anyway,
        it'll be the first thing cut when the lecturer is running late.)
      </dd>

      <dt>
        No standards.
      </dt>
      <dd>
        Reviewers and granting agencies don't expect computational work
        to meet the same standards as other experimental work,
        much less require it to,
        so there's no incentive for scientists to learn how to do so.
      </dd>

      <dt>
        The blind leading the blind.
      </dt>
      <dd>
        Senior researchers can't teach the next generation how to do things
        that they don't know how to do themselves.
      </dd>

      <dt>
        The cult of big iron.
      </dt>
      <dd>
        While most scientists and engineers work on desktop-scale machines,
        most attention and money goes to supercomputers
        that senators and university presidents can stand beside on opening day.
        As a result,
        basic skills are neglected,
        just as nurses' salaries and basic public health initiatives are often sacrificed
        to fund the construction of a new wing at the hospital.
      </dd>

    </dl>

    <p>
      Our goal is to break this vicious cycle by showing scientists and engineers
      how to do more in less time and with less pain.
      To do this,
      we combine half a dozen tools with
      an equal number of working practices
      borrowed from open source software developers.
      Both can be learned in under thirty hours;
      together,
      they can save most researchers up to a day a week
      for the rest of their careers,
      and make whole new areas of research feasible.
    </p>

    <p>
      More specifically,
      we address these questions:
    </p>

    <ol>
      <li>
        How can I manage this data?
      </li>
      <li>
        How can I process it?
      </li>
      <li>
        How can I tell if I've processed it correctly?
      </li>
      <li>
        How can I find and fix bugs when I haven't?
      </li>
      <li>
        How can I keep track of what I've done?
      </li>
      <li>
        How can I find and use other people's work?
      </li>
      <li>
        How can other people find and use mine?
      </li>
      <li>
        How can I do all these things faster?
      </li>
    </ol>

    <p>
      Our answers rest on four big ideas:
    </p>

    <dl>

      <dt>
        Software is just another kind of experimental apparatus.
      </dt>
      <dd>
        A program is no different from a telescope or oscilloscope.
        Like them,
        programs need to be assembled,
        checked,
        and documented well enough for other people
        (including our future selves)
        to repeat experiments if desired.
      </dd>

      <dt>
        Programming is a human activity.
      </dt>
      <dd>
        The most important constraints on software are not what machines can do,
        but what <em>people</em> can do.
        In particular,
        many of the tools and methods we'll meet in coming chapters exist
        because people can only fit a small number of things into short term memory at once,
        because predictability (and paranoia) make us more productive,
        or because getting the program to work often takes longer than actually running it.
      </dd>

      <dt>
        Programs are just another kind of data.
      </dt>
      <dd>
        A file full of code sitting on a hard drive is just text,
        and can be processed like any other kind of text.
        Equally,
        a program running in memory is just another data structure,
        albeit one that describes the actions we want a CPU to take
        rather than the density of interstellar gas in the galactic core.
        Thinking of programs this way is the single most powerful idea in programming.
      </dd>

      <dt>
        Better algorithms are better than better hardware.
      </dt>
      <dd>
        A supercomputer can reduce your program's running time from months to days;
        a better algorithm (and data structure) can reduce it to minutes.
        The problem is knowing which is best in any particular situation,
        but a handful are good enough for ninety percent of real-world situations.
      </dd>

    </dl>

    <p>
      These might not make sense right now,
      but we hope they will start to soon.
      We also hope that by the time you are done with this course
      you will think of programming as something more than
      a tax you have to pay in order to do the research that you love.
    </p>

    <section>
      <h2>Our Audience</h2>

      <section>
        <h3>Bhadra Basepair</h3>
        <div class="media">
          <img class="media-object pull-left" src="{{root_path}}/img/bhadra_basepair_179x237.png" alt="Bhadra Basepair" />
          <div class="media-body">
            <p>
              Bhadra Basepair received a B.Sc. in biochemistry five years ago.
              She has worked since then for Genes'R'Us,
              a biotech firm with labs in four countries.
              She did a Java programming course as a freshman,
              and a bioinformatics course using R as a senior,
              but has no other training in programming.
            </p>
            <p>
              Bhadra and her colleagues are developing fuzzy pattern-matching algorithms
              for finding similarities between DNA records in standard databases.
              To help other Genes'R'Us researchers,
              and to test her group's heuristics,
              Bhadra runs queries that people send her by email.
              These queries arrive as the subject lines of messages,
              in their bodies,
              as attachments,
              or as links to pages on the company's firewalled file-sharing site.
              URLs to pages behind the company firewall, etc.).
              Bhadra saves them in files called <code>search/a.in</code>,
              <code>search/b.in</code>, and so on,
              then edits them to add query parameters.
              (She almost never accidentally overwrites one query with another&hellip;)
            </p>
            <p>
              Once a week,
              Bhadra runs all of the queries that have piled up
              to create output files with matching names like <code>search/a.out</code>,
              then emails those back to whoever sent the original query.
              (She almost never sends someone the wrong file&hellip;)
              Once every couple of months
              she creates another directory called something like <code>may2013</code>
              and copies the input and output files she has accumulated into it.
              She would eventually like to do some statistical analysis on these,
              but hasn't been able to find time.
            </p>
            <p>
              Software Carpentry will teach Bhadra how to automate this task
              by writing simple scripts to retrieve, process, and reply to email queries.
              Those scripts will automatically record inputs and outputs
              and update a web page every day
              to show her and her colleagues
              how their algorithms are doing.
            </p>
          </div>
        </div>
      </section>

      <section>
        <h3>Fan Fullerene</h3>
        <div class="media">
          <img class="media-object pull-left" src="{{root_path}}/img/fan_fullerene_182x254.png" alt="Fan Fullerene" />
          <div class="media-body">
            <p>
              Fan Fullerene is a graduate student in chemistry
              who is working as a lab technician to help cover his costs.
              His only programming experience is a general first-year introduction to computational science
              using Python.
            </p>
            <p>
              Fan's supervisor is studying the production of fullerenes
              (also known as "buckyballs").
              Each set of experiments involves testing a sample
              at 20 different temperatures and 15 different pressures.
              Using a machine borrowed from a collaborating lab,
              Fan can run all temperature and pressure combinations in one job,
              but must upload a parameter file to the machine to do this.
              The temperatures and pressures to be used vary from sample to sample,
              so Fan now has two dozen different parameter files,
              each containing 300 lines of control information
              that he fervently hopes is correct.
            </p>
            <p>
              The machine sends these files to Fan
              once the experiment is completed.
              Fan analyzes them by opening Excel,
              copying and pasting the data into a spreadsheet,
              then creating a chart using the chart wizard.
              He then saves the chart as a PNG file on the group's web site,
              along with the original data file.
            </p>
            <p>
              Software Carpentry will teach Fan how to write programs
              to generate parameter files and analyze experimental results,
              and how to track the provenance of the data he is working with
              so that scientists can trace backward from the final charts
              to the raw data they represent.
              It will also teach him how to create a blog
              that is automatically updated each time a new set of results appears,
              and how to make his experimental results easier to search through.
            </p>
          </div>
        </div>
      </section>

      <section>
        <h3>Helen Helmet</h3>
        <div class="media">
          <img class="media-object pull-left" src="{{root_path}}/img/helen_helmet_156x217.png" alt="Helen Helmet" />
          <div class="media-body">
            <p>
              Helen Helmet,
              a Ph.D. student in mechanical engineering,
              is currently doing a six-month internship at an engineering firm
              that makes carbon-fiber helmets for firefighters and other emergency service personnel.
              Her undergraduate courses included an introduction to scientific computing using MATLAB
              and a robotics course that used C.
              She learned some Python during a co-op placement between her junior and senior years,
              and used it again in a graduate course on finite elements.
            </p>
            <p>
              Helen's task is to model the non-combustive thermal degradation
              (otherwise known as "melting")
              of candidate materials.
              Her starting point is a 4,000-line Python program
              that her supervisor wrote six years ago.
              She is currently trying to replace the mesh deformation functions
              with new ones that can handle non-uniform meshes.
              She sometimes writes, runs, and deletes sections of code
              three or four times before she is satisfied.
            </p>
            <p>
              Helen tests her program by writing
              the total heat content of the mesh at each time step
              to a file.
              She then loads this data into a separate Python program
              to graph the percentage differences between these values
              and the ones produced by the original program for six sample problems.
              Right now,
              the difference is less than 5% for five test cases,
              but 30% for the sixth.
              Helen has added hundreds of <code>print</code> statements to the program
              to try to track down the bug,
              but still doesn't know where it is.
            </p>
            <p>
              Software Carpentry will teach Helen
              to develop and modify programs in a disciplined way,
              to debug programs systematically,
              to use tests to ensure that new code doesn't break old code,
              and that version control systems are a better way to manage changes
              than copying, pasting, and commenting out.
            </p>
          </div>
        </div>
      </section>

      <section>
        <h3>Mehrdad Mapping</h3>
        <div class="media">
          <img class="media-object pull-left" src="{{root_path}}/img/mehrdad_mapping_187x242.png" alt="Mehrdad Mapping" />
          <div class="media-body">
            <p>
              Mehrdad Mapping is a graduate student
              studying bark beetle infestations in the Canadian taiga.
              He has never taken a programming course,
              but used SAS in an undergraduate statistics course.
            </p>
            <p>
              For the last three years,
              Mehrdad has spent six weeks every autumn
              counting beetle bores in pine trees in the Yukon and Alaska.
              He now has a spreadsheet with 5,000 entries,
              each recording the location and time of a measurement,
              the number of bores found,
              the moisture and acidity of the soil,
              and several other values.
              He also has two hundred text files containing 7,000 measurements
              that his supervisor made in the same regions in the 1970s and 1980s.
              His task now is to put both sets of measurements on a map
              so that he can start to correlate changes in bark beetle distribution
              with changes in climate.
            </p>
            <p>
              Software Carpentry will teach Mehrdad how to clean up and manage these data sets,
              and how to use web services to generate and share maps with colleagues.
              In addition,
              it will show him how to produce the figures and tables he needs for his papers
              with just a few lines of code.
            </p>
          </div>
        </div>
      </section>
    </section>

{% endblock content %}
