<!DOCTYPE html>
<html>
<!-- pageclass: GenericPage -->

{% macro nav_left() -%}
  {% if page.prev %}
    <li class="previous"><a id="id_prev_link" href="{{page.prev}}">&larr; Previous</a></li>
  {% else %}
    <li class="previous"><a id="id_up_link" href="{{page.uplink}}">&uarr; Up</a></li>
  {% endif %}
{%- endmacro %}

{% macro nav_right() -%}
  {% if page.next %}
    <li class="next"><a id="id_next_link" href="{{page.next}}">Next &rarr;</a></li>
  {% else %}
    <li class="next"><a id="id_up_link" href="{{page.uplink}}">&uarr; Up</a></li>
  {% endif %}
{%- endmacro %}

{% macro navhighlight(section) -%}
<script type="text/javascript">
  var nav = document.getElementById('nav-{{section}}');
  if (nav.className) {
    nav.className = nav.className + ' active';
  } else {
    nav.className = 'active';
  }
</script>
{%- endmacro %}

  <head>
    <link rel="shortcut icon" type="image/x-icon" href="{{root_path}}/favicon.png" />
    <link rel="stylesheet" id="twentytwelve-fonts-css"
      href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&amp;subset=latin,latin-ext" 
      type="text/css" media="all">
    {% block css %}
    <link href="{{root_path}}/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{root_path}}/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{root_path}}/css/swc.css" />
    <link rel="stylesheet" type="text/css" href="{{root_path}}/css/swc-bootstrap.css" />
    <meta http-equiv="last-modified" content="{{timestamp}}" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endblock css %}
    {% block metadata %}{% endblock metadata %}
    {% block file_metadata %}{% endblock file_metadata %}
    {% block pagetitle %}<title>Software Carpentry: {{page.title}}</title>{% endblock pagetitle %}
    {% block javascript %}{% endblock javascript %}
  </head>

  <body {%- block onload %}{% endblock onload -%} >
    <div class="container shadow">
      <div class="banner">
        <a href="{{root_path}}/index.html" title="Software Carpentry Home">
          <img src="{{root_path}}/logo/software-carpentry-banner.png" alt="Software Carpentry banner" />
        </a>
      </div>

      {% block navhighlight %}{% endblock navhighlight %}

      {% block files %}{% endblock files %}

      <div class="row-fluid">
        <div class="span10 offset1">
          {% block title %}
          <h1 class="title">{{page.title}}</h1>
          {% endblock title %}
          {% block content %}{% endblock content %}
          {% block details %}{% endblock details %}
          {% block comments %}{% endblock comments %}
        </div>
      </div>

      <div class="footer">
	<p>
	  Copyright &copy; Software Carpentry, 2012-13.
	  See the <a href="{{root_path}}/license.html">license</a> for terms of re-use.
	</p>
      </div>

    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{root_path}}/js/bootstrap/bootstrap.min.js"></script>

  </body>
</html>
